<div class="row container-fluid title">
      <div class="col-lg-6 main-page">
        <h1>SHARE YOUR FASHION SENSE</h1>
        <p class="main-p"><strong> Love what you wear, wear what you love!</strong></p>
        <div class="buttons">
        <button type="button" class="btn btn-secondary btn-lg download-button"><i class="fa-brands fa-apple"></i> Download</button>
        <button type="button" class="btn btn-light btn-lg download-button"><i class="fa-brands fa-google-play"></i> Download</button>
        </div>
      </div>

      <div class="col-lg-6 WeeklyOutfit">
        <div>
        <img class="tittle-image" src="images/OutfitOfTheWeek.png" alt="OutfitOfTheWeek">
        </div>
      </div>
  </div>
</div>