<section>
<div class="row container-fluid title">
      <div class="col-lg-6 main-page">
        <h1 class = "tittle-h1">SHARE YOUR FASHION SENSE</h1>
        <p class="main-p"><strong> Love what you wear, wear what you love!</strong></p>
        <div class="buttons">
        <button type="button" class="btn btn-secondary btn-lg download-button"><i class="fa-brands fa-apple"></i> Download</button>
        <button type="button" class="btn btn-light btn-lg download-button"><i class="fa-brands fa-google-play"></i> Download</button>
        </div>
      </div>

      <div class="col-lg-6 WeeklyOutfit">
        <div>
        <img class="tittle-image" src="images/OutfitOfTheWeek.png" alt="OutfitOfTheWeek">
        </div>
      </div>
  </div>
</div>
</section>

  <section id="features">
    <div class="row">
     <div class="feature-box col-lg-4">
       <i class="icon fas fa-solid fa-heart fa-4x"></i>
        <h3>Show off your style.</h3>
        <p>Join million of other people who love fashion.</p>
      </div>
      
      <div class="feature-box col-lg-4">
        <i class="icon fas fa-solid fa-circle-check fa-4x"></i>
        <h3>Easy to use.</h3>
        <p>So easy to use, even when you are shopping</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icon fas fa-solid fa-circle-check fa-4x"></i>
        <h3>Get recognized.</h3>
        <p>Vote on looks and see what other fashion lover think of your style</p>
      </div>
    </div>
  </section>

    <section id="testimonials">

    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2>"I decided to register on this social network in order to start a fashion blog. And so far I am 100% satisfied"</h2>
          <img class="testimonial-image" src="images/girl1.png" alt="dog-profile">
          <em>Lauren E., New York</em>
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">"MyRunway is one of the best site I've ever found on the internet"</h2>
          <img class="testimonial-image" src="images/girl2.png" alt="lady-profile">
          <em>Kelly W., Florida</em>
        </div>
      </div>

      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </section>

  
  <!-- Press -->
  <section id="press">
    <img class="press-logo" src="images/techcrunch.png" alt="tc-logo">
    <img class="press-logo" src="images/tnw.png" alt="tnw-logo">
    <img class="press-logo" src="images/ironhack.png" alt="ironhack-logo">
    <img class="press-logo" src="images/mashable.png" alt="mashable-logo">

  </section>

{{!-- {{#each allOutfits}}

<div>
  <div>
    <h2>{{this.title}}</h2>
  </div>

  <a href="/post/{{this.id}}"> <img src="{{this.imageUrl}}"></a>
</div>

{{/each}} --}}