body{
    font-family: "Montserrat";
    background-color: white;
  }

  /* signup/login start */
  a {
    color: #5D5D5D;
    text-decoration: none;
    font-size: 1.5em;
  }
   
  form {
    margin: 30px auto;
    width: 380px;
  }
   
  form label {
    color: #666;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }
   
  form input,
  form button {
    box-sizing: border-box;
    font-size: 14px;
    outline: 0;
    padding: 4px;
    width: 100%;
    margin-bottom: 20px;
  }
   
  form button {
    background: #5D5D5D;
    border: 1px solid #5D5D5D;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s ease background;
    width: 100%;
  }
   
  form button:hover {
    background: #fff;
    color: #5D5D5D;
    transition: 0.3s ease background;
  }
   
  .error {
    background: #7D1E6A;
    box-sizing: border-box;
    color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
  } 
   
  #form h2 {
    display: flex;
    justify-content: center;
  }
   
  #logout-form {
    display: inline;
  }
   
  #logout-form button {
    width: 120px;
  }
   /* signup/login end*/

/* index */
.section1{
  margin-top: 120px;
}
.allOutfits-section{
  margin-top: 140px;
  text-align: center;
}
  .tittle-h1{
    text-shadow: #C689C6 4px -10px 4px;
  }
  .title{
    color:#7D1E6A;
  }
  h1{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    text-align: center;
  }
  p{
    text-align: center;
  }
  .navbar{
    /* padding: 0 0 4.5rem; */
    padding: 20px;
    webkit-box-shadow: 0 8px 6px -6px #999;
    moz-box-shadow: 0 8px 6px -6px #999;
    background:#C689C6;
    width: inherit;
    width: 100vw;
  }
  #navbarResponsive{
    width: 100vw;
  }
  .container{
    padding: 0px;
    width: 100vw;
  }
  /* .navbar-collapse{
    margin-left: 100%;
  } */
  .download-button{
    margin: 5% 3% 5% 0;
  }
  .buttons{
    margin-left: 70px;
  }
  .main-page{
    margin-top: 60px;
  }
/* .main-p{
    color: #F15412
} */
  .tittle-image{
    width: 60%;
    transform: rotate(25deg);
    margin-left: 10%;
    border-radius: 10px;
  }
  .navbar-brand{
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
    color:#fff;
  }
  .nav-item{
    padding: 0 18px;
  }
  .nar-item.hover{
    color: white;
  }
  .container-fluid{
    padding: 3% 12% 7%;
  }
  /* .profile{
    background-color: #7D1E6A;
  } */

  .outfit-array{
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
  }
  .outfit-images{
    margin: 20px 20px 50px;
  }

  /* feature  */
  #features{
    padding: 3% 15%;
    background-color: #FEE3EC;
    position: relative;
  }
  .feature-box{
    text-align: center;
    padding: 4.5%;
  }
  .icon{
    color: #7D1E6A;
    margin-bottom: 1rem;
  }
  .icon:hover{
    color:#F05454;
  }
 
  /* testimonial section */
  #testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #C689C6;
  color: #fff;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

#press{
  background-color: #fff;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 7%;
  margin: 20px 20px 20px;
}

/* footer  */
.bottom-container {
  text-align: center;
  background-color: #8F4068;
  padding: 40px 0 20px;
}
.copyright{
  color: #FFEEEE;
  font-size: 0.75rem;
  padding: 20px 0;
}
.footer-link{
  
  color: #C689C6;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}
.footer-link:hover{
  color: #FFEEEE;
}
/* user profile */
.top-user-profile{
  background-image: url("../images/userBackground1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.profile-pic{
  margin-top: 80px;
}
button:hover {
  background: #fff;
  color: #5D5D5D;
  transition: 0.3s ease background;
}
.edit-profile{
  text-align: center;
  margin: 50px 0 50px;
}
.user-appearance{
  display: flex;
  flex-direction: row;
}
.about{
margin-top: 120px;
margin-left: 200px;
text-align: center;
}
.edit-button{
font-size: 40px;
}

.hidden{
  display: none;
}

/* .allOutfits{
  background-color: black;
} */

.signup-section{
margin-top: 120px;
}
.login-section{
margin-top: 120px;
}
.profile{
  margin-top: 110px;
}

@media (max-width:992px) {
.tittle-image{
  position: static;
  transform: rotate (0deg);
}
}